clu==0.0.7
flax==0.6.9
fonttools==4.37.3
imageio==2.25.0
immutabledict==2.2.1
importlib-resources==5.9.0
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
jax==0.4.8
jaxlib==0.4.7+cuda11.cudnn86
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
json-lines==0.5.0
json5==0.9.10
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter-server==1.19.1
jupyter-server-mathjax==0.2.6
jupyter_client==7.3.5
jupyterlab==3.4.7
jupyterlab-pygments==0.2.2
jupyterlab_server==2.15.2
keras==2.10.0
keras-flops==0.1.2
Keras-Preprocessing==1.1.2
matplotlib==3.6.0
matplotlib-inline==0.1.6
mediapy==1.1.0
ml-collections==0.1.1
numpy==1.23.3
pandas==1.5.0
scipy==1.9.1
seaborn==0.12.0
tensorboard==2.10.1
tensorflow==2.10.0
